server {
  listen 80;
  listen [::]:80;
  server_name {{ domain }};

  location / {
    return 301 https://$server_name$request_uri;
  }

  {% include "well-known.j2" %}
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{ domain }};
  
  {% include "ssl-certs.j2" %}
  {% include "logs.j2" %}

  {% if mattermost_version is defined %}
    {% include "mattermost.j2" %}
  {% else %}
    {% include "common.j2" %}
  {% endif %}
}
